<div class="poker-nights-container"></div>
	<h2>Poker Nights</h2>
	<div class="cards">
	  <div class="card" *ngFor="let pokerNight of pokerNights">
		<div class="card-content">
		  <h3>{{ pokerNight.date | date: 'dd/MM/yyyy' }}</h3>
		  <p><strong>Local:</strong> {{ pokerNight.place }}</p>
		  <p><strong>Pot Total:</strong> ${{ pokerNight.totalPot | commaDecimal}}</p>
		  <h4>Jogadores:</h4>
		  <ul>
			<li *ngFor="let player of pokerNight.players">
			  {{ player.playerName }}: {{ player.profit | commaDecimal}}
			</li>
		  </ul>
	  </div>
	</div>
</div>